--extra-index-url https://download.pytorch.org/whl/cu118

six==1.17.0
sktime==0.40.1
sns==0.1
sqlalchemy==2.0.45
stack_data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
tomli==2.3.0
torch==2.7.1+cu118
torch-cluster==1.6.3+pt27cu118
torch-geometric==2.7.0
torch-scatter==2.1.2+pt27cu118
torch-sparse==0.6.18+pt27cu118
torch-spline-conv==1.2.2+pt27cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
triton==3.3.1
typing_extensions==4.15.0
tzdata==2025.2
umap-learn==0.5.9.post2
urllib3==2.5.0
wcwidth==0.2.14
wheel==0.45.1
xgboost==3.1.2
xxhash==3.6.0
yarl==1.22.0
